<style>
	td {
		width: 50px;
		border: solid;
	}
	
	th {
		width: 50px;
		border: solid;
	}
	
	a.button {
	    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
		-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
		box-shadow:inset 0px 1px 0px 0px #ffffff;
		background-color:transparent;
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		border-radius:6px;
		border:1px solid #000000;
		display:inline-block;
		cursor:pointer;
		color:#000000;
		font-weight:bold;
		padding:6px 24px;
		text-decoration:none;
		text-shadow:0px 1px 0px #ffffff;
	}
	
	a.button:hover {
		background-color: #D3D3D3;
		color: #000000;
	}
</style>

<html>
	<h1 align="left"><%= @current_user.username %>'s Profile</h1>
	<div class = "Profile" align="left">
	<% @result.each do |p| %>
	<% p.each do |k, v|%>
		<% if k.eql?("CurrentStatus")%>
		<strong>Current Status</strong> : <%= v%> &nbsp;&nbsp;&nbsp; <a href="/modifyCurrentStatus" style="size: 10px">Modify Your Current Status</a><br />
		<% elsif k.eql?("AtYear")%>
		<strong>At Year</strong> : <%= v%> &nbsp;&nbsp;&nbsp; <a href="/modifyYear" style="size: 10px">Modify Your Year</a><br />
		<% elsif k.eql?("first_name")%>
		<strong>First Name</strong> : <%= v%> &nbsp;&nbsp;&nbsp; <a href="/modifyFirstName" style="size: 10px">Modify Your First Name</a><br />
		
		<% elsif k.eql?("last_name")%>
		<strong>Last Name</strong> : <%= v%> &nbsp;&nbsp;&nbsp; <a href="/modifyLastName" style="size: 10px">Modify Your Last Name</a><br />
		
		<% elsif k.eql?("username")%>
		<strong>Username</strong> : <%= v%> &nbsp;&nbsp;&nbsp; <a href="/modifyUsername" style="size: 10px">Modify Your Username</a><br />
		
		<% elsif k.eql?("email")%>
		<strong>Email</strong> : <%= v%> &nbsp;&nbsp;&nbsp; <a href="/modifyEmail" style="size: 10px">Modify Your Email</a><br />
		
		<% elsif k.eql?("showYourComments")%>
		<% if v == 1 %>
		<strong>You are willing to show your comments</strong>  &nbsp;&nbsp;&nbsp; <a href="/modifyShowComments" style="size: 10px">Show your comments?</a><br />
		<% else %>
		<strong>You are not willing to show your comments</strong> &nbsp;&nbsp;&nbsp; <a href="/modifyShowComments" style="size: 10px">Show your comments?</a><br />
		<% end %>
		<% else %>
		<% wheretogo = "/modify" + k %>
		<strong><%= k %></strong> : <%= v%> &nbsp;&nbsp;&nbsp; <a href=<%= wheretogo%> style="size: 10px">Modify Your <%= k %></a><br />
		<% end %>
	<% end %>
<% end %>
<div class="Abortion">
	<a data-confirm="Are you sure?" data-method="delete"><%= button_to "Abort Your Account", { :controller => "users", :action => "destroy_account"}, class: "testersignup" %></a>
</div>

<a href="/start" class="button">Go to Main Search</a>

</html>
