<style>
	td {
		width: 50px;
		border: solid;
	}
	
	th {
		width: 50px;
		border: solid;
	}
	
	a.button {
	    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
		-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
		box-shadow:inset 0px 1px 0px 0px #ffffff;
		background-color:transparent;
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		border-radius:6px;
		border:1px solid #000000;
		display:inline-block;
		cursor:pointer;
		color:#000000;
		font-weight:bold;
		padding:6px 24px;
		text-decoration:none;
		text-shadow:0px 1px 0px #ffffff;
	}
	
	a.button:hover {
		background-color: #D3D3D3;
		color: #000000;
	}
</style>
<% if (!@result1.is_a?(Hash) || !@result1.empty?) && !@result1.nil?%>
	<% @result1.each do |p| %>
	
	<% if (!p.nil?) && !p.empty? %>
		<% puts p %>
		<table style="table-layout: fixed; width:400; border-style: solid;">
	<tr>
	<% p.keys.each do |k|%>
		<th><%= k %></th>
	<% end %>
	</tr>
	<tr>
	<% p.values.each do |v|%>
		<td><%= v %></td>
	<% end %>
	</tr>
	  </table>
	  <h1> </h1>
	  <h1> </h1>
	  <h1> </h1>
	  <% end %>
	  <% end %>
<% end %>

<% if (!@result2.is_a?(Hash) || !@result2.empty?) && !@result2.nil?%>
	<% count = 0 %>
	<table style="table-layout: fixed; width:400; border-style: solid;">
	<% @result2.each do |p| %>
	
	<% if (!p.nil?) && !p.empty? %>
		<% puts p %>
	<% if count == 0 %>
	<tr>
	<% p.keys.each do |k|%>
		<th><%= k %></th>
	<% end %>
	</tr>
	<% count = count + 1 %>
	<% end %>
	<tr>
	<% p.values.each do |v|%>
		<td><%= v %></td>
	<% end %>
	</tr>
	  
	  <% end %>
	  <% end %>
	  </table>
	  <h1> </h1>
	  <h1> </h1>
	  <h1> </h1>
<% end %>

<% if (!@result3.is_a?(Hash) || !@result3.empty?) && !@result3.nil?%>
	<% count = 0 %>
	<table style="table-layout: fixed; width:400; border-style: solid;">
	<% @result3.each do |p| %>
	
	<% if (!p.nil?) && !p.empty? %>
		<% puts p %>
	<% if count == 0 %>
	<tr>
	<% p.keys.each do |k|%>
		<th><%= k %></th>
	<% end %>
	</tr>
	<% count = count + 1 %>
	<% end %>
	<tr>
	<% p.values.each do |v|%>
		<td><%= v %></td>
	<% end %>
	</tr>
	  
	  <% end %>
	  <% end %>
	  </table>
	  <h1> </h1>
	  <h1> </h1>
	  <h1> </h1>
<% end %>

<% if (!@result4.is_a?(Hash) || !@result4.empty?) && !@result4.nil?%>
	<% count = 0 %>
	<table style="table-layout: fixed; width:400; border-style: solid;">
	<% @result4.each do |p| %>
	
	<% if (!p.nil?) && !p.empty? %>
		<% puts p %>
	<% if count == 0 %>
	<tr>
	<% p.keys.each do |k|%>
		<th><%= k %></th>
	<% end %>
	</tr>
	<% count = count + 1 %>
	<% end %>
	<tr>
	<% p.values.each do |v|%>
		<td><%= v %></td>
	<% end %>
	</tr>
	  
	  <% end %>
	  <% end %>
	  </table>
	  <h1> </h1>
	  <h1> </h1>
	  <h1> </h1>
<% end %>

<% if (!@result5.is_a?(Hash) || !@result5.empty?) && !@result5.nil?%>
	<% count = 0 %>
	<table style="table-layout: fixed; width:400; border-style: solid;">
	<% @result5.each do |p| %>
	
	<% if (!p.nil?) && !p.empty? %>
		
	<% if count == 0 %>
	<tr>
	<% p.keys.each do |k|%>
		<th><%= k %></th>
	<% end %>
	</tr>
	<% count = count + 1 %>
	<% end %>
	<tr>
	<% p.values.each do |v|%>
		<td><%= v %></td>
	<% end %>
	</tr>
	  
	  <% end %>
	  <% end %>
	  </table>
	  <h1> </h1>
	  <h1> </h1>
	  <h1> </h1>
<% end %>
<a href="/start" class="button">Go to Main Search</a>
