<style>
body {
  text-align: center;
 }
 
 nav {
 	text-align: right;
 	margin: 10px;
 }
#section {
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin: 0 auto; 
}
input {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
	height: 30px;
}
.logandsign {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:transparent;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.logandsign:hover {
	background-color: #D3D3D3;
	color: #000000;
}
.logandsign:active {
	position:relative;
	top:1px;
}
</style>
<html>
	<head><link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Indie Flower">
      <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Architects Daughter">
      <style>
      body {
  		text-align: center;
  		font-family: 'Indie Flower', serif;
        font-size: 25px;
 	  }
 	  .logandsign {
 	  	font-family: 'Architects Daughter', serif;
 	  	font-size: 15px; 
 	  }
 	  </style>  
      </head>
      
		<body>
		
		<div id = "section">
			<h1> Graduate School </h1>
			<h2> Planning the Next Milestone</h2>
			<h3> Search</h3>
			
			
			
	 <%= form_for(:welcome, url: login_path) do |f| %> 
	  <%= f.text_field :College, :placeholder => "College" %> 
	  <br />
	  <br />
	  <%= f.text_field :Department, :placeholder => "Department" %> 
	  <br />
	  <br />
	  <%= f.text_field :Program, :placeholder => "Program" %> 
	  <br />
	  <br />
	  <%= f.text_field :Faculty, :placeholder => "Faculty" %> 
	  <br />
	  <br />
	  <%= f.submit "Search", class: "testersignup" %>
	<% end %>
		
		
		</div>
		
		</body>

</html>
