<!DOCTYPE html>

<style>

body {
  text-align: center;
 }
 
 nav {
 	text-align: right;
 	margin: 10px;
 }
#login {
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    margin: 0 auto; 
}

input {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;	
	height: 30px;
}

.testersignup {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background-color:transparent;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#000000;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}

.testersignup:hover {
	background-color: #D3D3D3;
	color: #000000;
}

.logandsign:active {
	position:relative;
	top:1px;
}
.aboutus {
	color: #3A3A38;
}
.aboutus:hover {
	background-color: transparent;
	color: #8B8970;
}


nav {
	top: 1%;
	background-color: #FFFFAA;
	color: #3A3A38;
}

.logout {
	color: #3A3A38;
}

.logout:hover {
	background-color: transparent;
	color: #8B8970;
}

dialog {  
    width: 250px;  
    background:#F8F8F8;
    border: 1px solid #dadada;
    padding: 5px 10px 20px 20px;
    top: 5%;
    left: center;
}  

</style>

<html>
  <head>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Indie Flower">
      <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Architects Daughter">
      <style>
      body {
  		text-align: center;
  		font-family: 'Indie Flower', serif;
        font-size: 25px;
 	  }
 	  .testersignup {
 	  	font-family: 'Architects Daughter', serif;
 	  	font-size: 15px; 
 	  }
 	  
 	  dialog {
 	  	font-family: 'Cabin', serif;
 	  	font-size: 15px; 
 	  }
 	  </style>  
      
  </head>
  <nav>
         	<% if current_user %> 
			  <ul> 
			    Logged In As: <%= current_user.username %>&nbsp;&nbsp;&nbsp;<%= link_to "Log out", logout_path, method: "delete", :class => "logout"%>
			
			    <br />
			    
			  </ul> 
			<% end %>
			<a href="#" id="show">About Us</a>
			</nav>
  <%= yield %>
  		
          		<dialog id="window">  
				    <h3>About Us</h3>  
				    <p>Some Information about This Project</p>  
				    <a href="" id="exit">Close</a>
				</dialog>
				
         
    

</html>

<script>

(function() {  
    var dialog = document.getElementById('window');  
    document.getElementById('show').onclick = function() {  
        dialog.show();  
    };  
    document.getElementById('exit').onclick = function() {
        dialog.close();  
    };  
})();

</script>